
body {
  background-color:  rgb(21, 23, 25); /* This is black. You can adjust the color as needed. */
  background-color:  rgb(21, 23, 25);
  overflow-x: hidden; /* Hide horizontal scrollbar */
  width: 100%; /* Ensure body takes full width */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.big-title{
  font-size: 4.5em;
  color: rgb(217, 227, 234);
}

.btn {
  font-weight: 700 !important;
}

.bottom-name{
  font-size: 2em;
  color: rgb(217, 227, 234);
}